body {
    background-color: #D5E1EF;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
}
.card {
    box-sizing: border-box;
    padding: 16px 16px 40px 16px;
    max-width: 320px;
    max-height: 499px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
figure {
    margin: 0;
}
.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 0px 16px;
}
img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #1F314F;
    margin: 0;
}
p {
    font-family: 'Outfit', sans-serif;
    line-height: 140%;
    font-size: 15px;
    color: #68778D;
    margin: 0;
    letter-spacing: 0.2px;
}

.attribution {
    font-family: 'Outfit', sans-serif;
    font-size: 11px;
    color: #1F314F;
    text-align: center;
}